*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:
"Inter",
"Segoe UI",
Arial,
sans-serif;

background:#f4fbff;

color:#12324a;

overflow:hidden;

}



/* background decoration */

.background{

position:absolute;

width:900px;
height:900px;

right:-300px;
top:-200px;

background:

linear-gradient(
135deg,
#d9f1ff,
#b6e2ff
);

border-radius:50%;

z-index:-1;

}



header{

height:100px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 8%;

}



.logo{

height:55px;
width:55px;

border-radius:50%;

background:#2f9ed8;

color:white;

display:flex;
align-items:center;
justify-content:center;

font-size:18px;

font-weight:700;

}



nav{

display:flex;

gap:45px;

}



nav a{

text-decoration:none;

color:#466275;

font-size:17px;

}



nav a:hover{

color:#1d8ccc;

}




.hero{


height:calc(100vh - 100px);


display:flex;

align-items:center;


padding:0 8%;


}



.left{

width:50%;

}



.tag{

font-size:14px;

letter-spacing:5px;

color:#2795d2;

margin-bottom:30px;

}



h1{


font-size:110px;

line-height:.9;


letter-spacing:-6px;


font-weight:800;


}



.divider{


margin-top:35px;

margin-bottom:30px;


height:6px;

width:150px;


background:#3ca7df;


border-radius:20px;


}



h2{

font-size:32px;

font-weight:500;

color:#526d7f;


}





.visual{


width:50%;

height:500px;


position:relative;


}



.blob{


position:absolute;


width:430px;

height:430px;


right:100px;

top:30px;


background:white;


border-radius:

60% 40% 55% 45%;


box-shadow:

0 30px 80px rgba(50,150,220,.25);


}





.card{


position:absolute;


width:260px;

height:170px;


right:20px;

bottom:80px;


background:

rgba(255,255,255,.7);


border-radius:25px;


backdrop-filter:blur(10px);


box-shadow:

0 20px 50px rgba(0,0,0,.08);


}





@media(max-width:900px){


.visual{

display:none;

}


.left{

width:100%;

}



h1{

font-size:70px;

}


}
